<h1>Heroine Form</h1>

<%=form_for @heroine do |f|%>
    Name: <%=f.text_field :name%>
    Super Name: <%=f.text_field :super_name%>
    Choose One Power: <%=f.collection_select :power_id, Power.all, :id, :name%>
    <%=f.submit%>
<%end%>

